<script src="http://code.highcharts.com/highcharts.js"></script>
@using Highsoft.Web.Mvc.Charts
@{
    ViewBag.Title = "Dashboard";
}
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
       @(Html.Highsoft().Highcharts(
        new Highcharts
        {
            Chart = new Highsoft.Web.Mvc.Charts.Chart
            {
                Width = 1087,
                Height = 400,
                Type = ChartType.Area
            },
        Series = new List<Series>
        {
            new AreaSeries
            {
            Name = "USA",
            Data = @ViewData["usaData"] as List<AreaSeriesData>
                },
                new AreaSeries
                {
                    Name = "USSR/Russia",
                    Data = @ViewData["russiaData"] as List<AreaSeriesData>
                }
            }
        }
        , "chart"))
</div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
</div>
<script src="~/app/app.js"></script>